<!-- Header section -->
<header>
  <h1>
    <img
      src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png"
      alt="Wild Code School logo" />
    Les Argonautes
  </h1>
</header>
<!-- Main section -->
<main>
  <img src="/assets/img/grèce.jpg" class="main-background-img" alt="main-img-background">
  <section class="form-container">
    <form action="/action_page.php">
      <label for="name">Ajouter des Argonautes</label>
      <input type="text" id="fname" name="firstname" placeholder="Nom ...">
      <input type="submit" class="submit-button" value="Embarquer">
    </form>
  </section>
</main>
<!-- Table section -->
<section>
  <h2>Les membres d'équipages</h2>
  <table>
    <tr>
      <th>name</th>
      <th>name</th>
      <th>name</th>
    </tr>
    <tr>
      <td>toto</td>
    </tr>
  </table>
</section>
<footer>
  <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>