/* You can add global styles to this file, and also import other style files */
html {
    width: 80%;
    margin: auto;
    height: 100%;
}

body {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    html {
        width: auto;
        margin: auto;
        height: 100%;
    }
}